<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loujie.easyui.dao.UserDao">

	<!-- 1.定义的ResultMap -->

	<!-- 2.定义表名称 -->
	<sql id="table">user</sql>
	<sql id="tables">user a</sql>

	<!-- 3.需要查询的字段及添加、排序 -->
	<sql id="column">
		a.`id`,
		a.`name`,
		a.`login_name`,
		<if test="Epassword == 'yes'">
			a.`password`,
		</if>
		a.`create_time`,
		a.`update_time`
	</sql>

	<!-- 3.2查询条件 -->
	<sql id="where">
		<if test="ElikeName != null and ElikeName != ''">
			and a.name like concat('%',#{ElikeName},'%');
		</if>
		<if test="loginName != null and loginName != ''">
			and a.login_name = #{loginName}
		</if>
		<if test="password != null and password != ''">
			and a.password = #{password}
		</if>
		<if test="id != null">
			and a.id = #{id}
		</if>
	</sql>

	<!-- 3.3排序 -->
	<sql id="order"></sql>

	<!-- 4.查询模块 -->
	<select id="get" resultType="User" parameterType="java.util.Map">
		select
		<include refid="column" />
		from
		<include refid="tables" />
		where 1 = 1
		<include refid="where"/>
		<include refid="order"/>
	</select>
	
	<select id="getList" resultType="User" parameterType="java.util.Map">
		select
		<include refid="column" />
		from
		<include refid="tables" />
		where 1 = 1
		<include refid="where"/>
		<include refid="order"/>
	</select>
	
	<!-- 5.插入模块 -->
	<insert id="save" keyProperty="id">
		insert into 
		<include refid="table" />(
			`name`,
			`login_name`,
			`password`
		)values(
			#{name},
			#{loginName},
			#{password}
		)
	</insert>

	<!-- 6.更新模块 -->
	<update id="updateUserName">
		update 
		<include refid="table"/>
		set name = #{name}
		where id = #{id}
	</update>
	
	<!-- 7.删除模块 -->
	<delete id="delete">
		delete from 
		<include refid="table" />
		where id = #{id}
	</delete>

</mapper>